<a href="https://colab.research.google.com/github/josephychin/sales-predictions/blob/main/Project_1_Part_2_(Core).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Project 1 - Part 2

We will continue to work off of the GitHub repository you created last week for your first portfolio project. The goal of your portfolio projects are to have items to show potential employers that demonstrate your data science skills and competencies.

The first project will be a sales prediction for food items sold at various stores. The goal of this is to help the retailer understand the properties of products and outlets that play crucial roles in increasing sales.

For Part 2, your task is to import the data and use Pandas to start cleaning and exploring the data. As data scientists, about 80% of our time is spent on data preparation - so this is a very important step! First, clone the GitHub repo you created to house your project so you are able to commit your work to this repository. See the video at the end of this assignment if you are unsure of how to do this.

Download the data using this link: download the data. (Note: Original data source)

Explore the data - what do you need to do to clean this data?

Are there missing values in this dataset? Some stores might not report all the data due to technical glitches or other issues. If so, deal with these appropriately.

Here are a few resources to help you consider more advanced ways to deal with missing values in your dataset (check out the optional additional Pandas resources at the end of this Chapter for more resources on this):

Missing Data, its types, and statistical methods to deal with it

6 Different Ways to Compensate for Missing Values In a Dataset

Dealing with missing data: Key assumptions and methods for applied analysis

Feel free to use any other resources or techniques you find online that you think are appropriate/useful

What are some summary statistics, aggregate information, or other useful trends you can see from the data using Pandas?

Here is the Data Dictionary for this dataset:

Variable Name	Description

Item_Identifier	Unique product ID

Item_Weight	Weight of product

Item_Fat_Content	Whether the product is low fat or regular

Item_Visibility	The percentage of total display area of all products in a store allocated to the particular product

Item_Type	The category to which the product belongs

Item_MRP	Maximum Retail Price (list price) of the product

Outlet_Identifier	Unique store ID

Outlet_Establishment_Year	The year in which store was established

Outlet_Size	The size of the store in terms of ground area covered

Outlet_Location_Type	The type of area in which the store is located

Outlet_Type	Whether the outlet is a grocery store or some sort of supermarket

Item_Outlet_Sales	Sales of the product in the particular store. This is the target variable to be predicted.


Commit your work to GitHub. To do this, you can just select File > Save a Copy in GitHub in your Colab notebook:


Alternatively, you can learn how to use Git & Github in your terminal! Watch this video if you are unsure of how to do this:

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
filename = '/content/drive/MyDrive/Coding Dojo/PandasForDataManipulation/sales_predictions.csv'
df = pd.read_csv(filename)
df.head()

  Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
0           FDA15         9.30  ...  Supermarket Type1          3735.1380
1           DRC01         5.92  ...  Supermarket Type2           443.4228
2           FDN15        17.50  ...  Supermarket Type1          2097.2700
3           FDX07        19.20  ...      Grocery Store           732.3800
4           NCD19         8.93  ...  Supermarket Type1           994.7052

[5 rows x 12 columns]

#item weight missing, item fat content different names, outlet size missing

In [ ]:
df.shape

(8523, 12)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                7060 non-null   float64
 2   Item_Fat_Content           8523 non-null   object
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   object
 5   Item_MRP                   8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   object
 7   Outlet_Establishment_Year  8523 non-null   int64
 8   Outlet_Size                6113 non-null   object
 9   Outlet_Location_Type       8523 non-null   object
 10  Outlet_Type                8523 non-null   object
 11  Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.2+ KB

In [ ]:
df.duplicated().any()

False

In [ ]:
df['Item_Fat_Content'].value_counts()

Low Fat    5089
Regular    2889
LF          316
reg         117
low fat     112
Name: Item_Fat_Content, dtype: int64

In [ ]:
df.loc[df['Item_Fat_Content'] == 'LF', 'Item_Fat_Content'] = 'Low Fat'
df.loc[df['Item_Fat_Content'] == 'low fat', 'Item_Fat_Content'] = 'Low Fat'
df.loc[df['Item_Fat_Content'] == 'reg', 'Item_Fat_Content'] = 'Regular'

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                7060 non-null   float64
 2   Item_Fat_Content           8523 non-null   object
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   object
 5   Item_MRP                   8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   object
 7   Outlet_Establishment_Year  8523 non-null   int64
 8   Outlet_Size                6113 non-null   object
 9   Outlet_Location_Type       8523 non-null   object
 10  Outlet_Type                8523 non-null   object
 11  Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.2+ KB

In [ ]:
df['Item_Fat_Content'].value_counts()

Low Fat    5517
Regular    3006
Name: Item_Fat_Content, dtype: int64

In [ ]:
df['Item_Weight'].isna().sum()

1463

In [ ]:
df.isna().sum()

Item_Identifier                 0
Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [ ]:
df['Outlet_Size'].fillna('N/A', inplace=True)

In [ ]:
df.isna().sum()

Item_Identifier                 0
Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                     0
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [ ]:
dfItemTypeItemFatContent = df.groupby(['Item_Type', 'Item_Fat_Content'], sort=False)
dfItemTypeItemFatContentMean = dfItemTypeItemFatContent.mean().reset_index()
dfItemTypeItemFatContentMean

                Item_Type  ... Item_Outlet_Sales
0                   Dairy  ...       2145.174151
1             Soft Drinks  ...       1854.065451
2                    Meat  ...       2035.616920
3   Fruits and Vegetables  ...       2400.571761
4               Household  ...       2258.784300
5            Baking Goods  ...       2147.340665
6             Snack Foods  ...       2093.891196
7             Snack Foods  ...       2411.978843
8            Frozen Foods  ...       2149.861640
9   Fruits and Vegetables  ...       2182.405740
10                  Dairy  ...       2370.875970
11              Breakfast  ...       1925.464652
12     Health and Hygiene  ...       2010.000265
13            Hard Drinks  ...       2139.221622
14           Baking Goods  ...       1764.509636
15                 Canned  ...       2243.441202
16                 Breads  ...       2183.434031
17            Soft Drinks  ...       2035.452072
18                 Canned  ...       2208.714377
19           Frozen Foods  ...       2117.535472
20                   Meat  ...       2241.218571
21          Starchy Foods  ...       2558.425815
22                 Breads  ...       2230.238058
23                 Others  ...       1926.139702
24              Breakfast  ...       2425.411966
25          Starchy Foods  ...       2145.611115
26                Seafood  ...       2899.263089
27                Seafood  ...       1907.786919

[28 rows x 7 columns]

In [ ]:
dfItemType = df.groupby('Item_Type', sort=False)
dfItemTypeMean = dfItemType.mean().reset_index()
dfItemTypeMean

                Item_Type  ...  Item_Outlet_Sales
0                   Dairy  ...        2232.542597
1             Soft Drinks  ...        2006.511735
2                    Meat  ...        2158.977911
3   Fruits and Vegetables  ...        2289.009592
4               Household  ...        2258.784300
5            Baking Goods  ...        1952.971207
6             Snack Foods  ...        2277.321739
7            Frozen Foods  ...        2132.867744
8               Breakfast  ...        2111.808651
9      Health and Hygiene  ...        2010.000265
10            Hard Drinks  ...        2139.221622
11                 Canned  ...        2225.194904
12                 Breads  ...        2204.132226
13          Starchy Foods  ...        2374.332773
14                 Others  ...        1926.139702
15                Seafood  ...        2326.065928

[16 rows x 6 columns]

In [ ]:
dfItemTypeMeanToList = dfItemTypeMean['Item_Weight'].tolist()
dfItemTypeMeanToList

[13.42606890459367,
 11.847459893048129,
 12.81734421364986,
 13.224769381746881,
 13.384736495388726,
 12.277108208955255,
 12.987879554655919,
 12.867061281337076,
 12.768202247191002,
 13.142313953488392,
 11.400327868852452,
 12.305705009276451,
 11.3469362745098,
 13.690730769230765,
 13.853284671532842,
 12.5528431372549]

In [ ]:
df.loc[df['Item_Type'] == 'Dairy', 'Item_Weight'] = df.loc[df['Item_Type'] == 'Dairy', 'Item_Weight'].fillna(dfItemTypeMeanToList[0])
df.loc[df['Item_Type'] == 'Soft Drinks', 'Item_Weight'] = df.loc[df['Item_Type'] == 'Soft Drinks', 'Item_Weight'].fillna(dfItemTypeMeanToList[1])
df.loc[df['Item_Type'] == 'Meat', 'Item_Weight'] = df.loc[df['Item_Type'] == 'Meat', 'Item_Weight'].fillna(dfItemTypeMeanToList[2])
df.loc[df['Item_Type'] == 'Fruits and Vegetables', 'Item_Weight'] = df.loc[df['Item_Type'] == 'Fruits and Vegetables', 'Item_Weight'].fillna(dfItemTypeMeanToList[3])
df.loc[df['Item_Type'] == 'Household', 'Item_Weight'] = df.loc[df['Item_Type'] == 'Household', 'Item_Weight'].fillna(dfItemTypeMeanToList[4])
df.loc[df['Item_Type'] == 'Baking Goods', 'Item_Weight'] = df.loc[df['Item_Type'] == 'Baking Goods', 'Item_Weight'].fillna(dfItemTypeMeanToList[5])
df.loc[df['Item_Type'] == 'Snack Foods', 'Item_Weight'] = df.loc[df['Item_Type'] == 'Snack Foods', 'Item_Weight'].fillna(dfItemTypeMeanToList[6])
df.loc[df['Item_Type'] == 'Frozen Foods', 'Item_Weight'] = df.loc[df['Item_Type'] == 'Frozen Foods', 'Item_Weight'].fillna(dfItemTypeMeanToList[7])
df.loc[df['Item_Type'] == 'Breakfast', 'Item_Weight'] = df.loc[df['Item_Type'] == 'Breakfast', 'Item_Weight'].fillna(dfItemTypeMeanToList[8])
df.loc[df['Item_Type'] == 'Health and Hygiene', 'Item_Weight'] = df.loc[df['Item_Type'] == 'Health and Hygiene', 'Item_Weight'].fillna(dfItemTypeMeanToList[9])
df.loc[df['Item_Type'] == 'Hard Drinks', 'Item_Weight'] = df.loc[df['Item_Type'] == 'Hard Drinks', 'Item_Weight'].fillna(dfItemTypeMeanToList[10])
df.loc[df['Item_Type'] == 'Canned', 'Item_Weight'] = df.loc[df['Item_Type'] == 'Canned', 'Item_Weight'].fillna(dfItemTypeMeanToList[11])
df.loc[df['Item_Type'] == 'Breads', 'Item_Weight'] = df.loc[df['Item_Type'] == 'Breads', 'Item_Weight'].fillna(dfItemTypeMeanToList[12])
df.loc[df['Item_Type'] == 'Starchy Foods', 'Item_Weight'] = df.loc[df['Item_Type'] == 'Starchy Foods', 'Item_Weight'].fillna(dfItemTypeMeanToList[13])
df.loc[df['Item_Type'] == 'Others', 'Item_Weight'] = df.loc[df['Item_Type'] == 'Others', 'Item_Weight'].fillna(dfItemTypeMeanToList[14])
df.loc[df['Item_Type'] == 'Seafood', 'Item_Weight'] = df.loc[df['Item_Type'] == 'Seafood', 'Item_Weight'].fillna(dfItemTypeMeanToList[15])

In [ ]:
df.isna().sum()

Item_Identifier              0
Item_Weight                  0
Item_Fat_Content             0
Item_Visibility              0
Item_Type                    0
Item_MRP                     0
Outlet_Identifier            0
Outlet_Establishment_Year    0
Outlet_Size                  0
Outlet_Location_Type         0
Outlet_Type                  0
Item_Outlet_Sales            0
dtype: int64

In [ ]:
df.to_csv('sales_predictions_cleaned.csv')